*{
    margin: 0;
    padding: 0;
    
}


body{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family:'Roboto' ;

}

img{
    width: 400px;
    height: 200px;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    
}

.box1{
    background-color: #1f2937;
   padding: 8px 30px 30px 30px;
    
}

.container{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 8px;
    justify-content: space-between;
    
}



.title{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 20px;
}

.logo{
    font-weight: bolder;
    font-size: 20px;
}

.sign-up1,.sign-up2{
    border: #e5e7eb;
    color: #ffffff;
    border-radius: 5px;
    background: #3882f6;
    padding: 5px 9px;
    width: 90px;
    font-weight: bolder;
}

.sign-up2{
    border: solid #ffffff 2px;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
    width:40%;
    margin-right: 20%;
}

.box2{
    padding: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: black;
    
}

.square{
  border-radius: 25px;
  border: 2px solid #3882f6 ;
  padding: 20px;
  width: 100px;
  height: 100px;
  
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.info-header{
    color:#1f2937;
    font-size: 37px;
    font-weight: bolder;

}

.middle-blocks{
    display: flex;
    margin: auto 70px;
}

.box3{
    color:#1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 53px 135px;

}

.quote{
    display: flex;
    align-items: flex-start;
    font-style: italic;
    font-size: 36px;
}
.reference{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}

.box4{
    display: flex;
    justify-content: flex-start;
    padding: 100px 135px 100px 50px;
}
.round-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #3882f6;
    padding: 20px 90px;
    width: 800px;
    height: 150px;
}

.bold-text{
    font-size: 20px;
    font-weight: bolder;
}

.body-text,.Copyright{
    font-size: 20px;
}

button{
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
}

footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 30px 200px;
}

